.galery {
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  place-items: center;
  justify-content: center;
  gap: 2rem;

  & .galery__image {
    aspect-ratio: 35/18;
    border-radius: .75rem;
    filter: drop-shadow(0 0 0.45rem rgb(44, 77, 79));
  }

}